body {
	background-image: url("https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg");
	background-color: gray;
}

h1 {
	font-family: impact;
	color: purple;
	font-size:50px;
}

div.left {
	float: left;
	width: 50%;
	height: 100px;
	border: 1px;
	border-color: black;
}

div.right {
	float: right;
	width: 50%;
	height: 100px;
	border: 1px;
	border-color: black;
}